@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Anton|Fredoka+One|Luckiest+Guy|Monoton|Nosifer|Orbitron|Righteous|Trade+Winds&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*background: #34495e;*/
    background-image: linear-gradient(to right, black, darkslategrey, black);
}

.contentContainer {
    width: 300px;
    padding: 40px;
    /*position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    /*background: #191919;*/
    background-color: black;
    text-align: center;
    margin: auto;
    display: block;
    opacity: .8;
    border-radius:24px;
}

    .contentContainer h1 {
        color: white;
        font-weight: 500;
        font-family: 'Trade Winds', cursive;
        font-family: 'Anton', sans-serif;
        font-family: 'Righteous', cursive;
        font-family: 'Fredoka One', cursive;
        font-family: 'Nosifer', cursive;
        font-family: 'Luckiest Guy', cursive;
        font-family: 'Alfa Slab One', cursive;
        font-family: 'Orbitron', sans-serif;
        font-family: 'Monoton', cursive;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

.contentContainer input[type = "text"],
.contentContainer input[type = "password"],
.contentContainer input[type = "date"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: .25s;
}
.contentContainer input[id = "eventDesc"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 40px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: .25s;    
}



.contentContainer input[type = "text"]:focus,
.contentContainer input[type = "password"]:focus
.contentContainer input[type = "date"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.contentContainer button {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: .25s;
    cursor: pointer;
}

.contentContainer button:hover {
    background: #2ecc71;
}

.displayCont{
    margin: auto;
    display: block;
}

#eventsList {
    margin: auto;
    display: block;
    color: white;
    border: 2px solid darkslategrey;
    background-color: darkslategrey;
    border-radius: 24px;
    font-family: sans-serif;
    font-size: 12px;
}

#eventsList>tr {
    margin:auto;
    display:block;
}

#favoritList {
    margin: auto;
    display: block;
    color: white;
    border: 2px solid darkslategrey;
    background-color: darkslategrey;
    border-radius: 24px;
    font-family: sans-serif;
    font-size: 12px;
}

input[type = "radio"] {
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}


#yourEvents {
    margin: auto;
    display: block;
    color: white;
    border: 2px solid darkslategrey;
    background-color: darkslategrey;
    border-radius: 24px;
    font-family: sans-serif;
    font-size: 12px;
}

    #yourEvents > tr {
        margin: auto;
        display: block;
    }